# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: 'Check data quality'
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  check-eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 9
          run_install: true
      - name: Run ESLint
        run: pnpm lint